---

---

<section class="widget shadow">
  <p class="time"></p>
</section>
  
<script>
  const updateTime = () => {
  const timeElement = document.querySelector(".time");
    if (timeElement) {
      timeElement.textContent = new Date().toLocaleTimeString('en-US', {
        hour12: true,
        hour: "numeric",
        minute: "numeric",
      });
    } 
  };

  updateTime();
  setInterval(updateTime, 1000);
</script>


<style>
  .time {
    font-size: var(--step-8);
    font-weight: 700;
  }
</style>