---
let quote;

try {
  const response = await fetch("http://localhost:3000/api/quotes")
  if (response.ok) {
    const data = await response.json();
    const randomIndex = Math.floor(Math.random() * data.length);
    quote = data[randomIndex].quote;
  } else {
    throw new Error("Failed to fetch date")
  }
} catch(error) {
  console.error(error)
}

---

<section class="last-widget">
  <blockquote class="quote">{quote}</blockquote>
</section>

<style>
  .quote {
    font-size: var(--step-5);
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
  }

  .last-widget {
    grid-row: 3;
    grid-column: 1 / -1;
    align-self: end;
  }
</style>