---
let weather;

try {
  const response = await fetch("http://localhost:3000/api/weather")
  if (response.ok) {
    weather = await response.json();
  } else {
    throw new Error("Failed to fetch date")
  }
} catch(error) {
  console.error(error)
  weather = { error: true };
}

const city = weather?.city || "Unknown City"
const temp = weather?.temp || "--"
---

<section>
  <h2>Weather</h2>
  <p>{city }</p>
  <p>{temp }°F</p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
</style>