---
let weather;

try {
  const response = await fetch("http://localhost:3000/api/weather")
  if (response.ok) {
    weather = await response.json();
  } else {
    throw new Error("Failed to fetch date")
  }
} catch(error) {
  console.error(error)
  weather = { error: true };
}

const city = weather?.city === "Clovis" ? "Fresno" : weather?.city || "Unknown City"
const temp = weather?.temp || "--"
---

<section class="widget shadow">
  <p class="temp">{temp}°<span class="deg">F</span></p>
  <p class="city">{city}</p>
</section>

<style>
  .temp {
    font-size: var(--step-7);
    font-weight: 800;
  }

  .deg {
    font-size: var(--step-4);
    font-weight: 700;
    color: var(--clr-gray-light);
  }

  .city {
    font-size: var(--step--1);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-gray-light);
  }
</style>