---
import Head from "../components/Head.astro"

import '@fontsource-variable/inter';
import '../global.css'
---

<html lang="en">
  <Head />
	<body>
		<slot />
	</body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

</style>